@import url("https://fonts.googleapis.com/css?family=Space+Mono:400,700&display=swap");

/* == UI COMPONENTS == */
/* buttons */
[type="button"],
[type="submit"],
button,
.a-button,
.yellow-button,
.transp-button,
.green-button {
  display: inline-block;
  text-decoration: none;
  font-size: 1rem;
  font-family: "Space Mono", monospace;
  padding: .6rem 1.2rem;
  vertical-align: middle;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  white-space: nowrap;
  line-height: 1;
  border-radius: 10px;
  margin-bottom: 3%;
  margin-top: 10px;
}

@media screen and (max-width: 980px) {

  [type="button"],
  [type="submit"],
  button,
  .a-button,
  .yellow-button,
  .transp-button,
  .green-button {
    max-width: 100%;
  }
}

[type="button"],
[type="submit"],
button,
.a-button {
  background: #b4d0fa3a;
  color: #3448ff;
  border: 2px solid #b4d0fa3a;
}

.pink-button {
  background: #f2deff;
  color: #900098;
  border: 2px solid #f2deff;
}

.green-button {
  background: #ebffde;
  color: #039800;
  border: 2px solid #d7ffbd;
}

.transp-button {
  background: none;
  color: #444444;
}

.transp-button:hover {
  background-color: #ffffb1;
}

.a-button:hover {
  background-color: none;
}

[type="button"]:hover,
[type="submit"]:hover,
button:hover {
  background-color: white;
}

.buttons {
  text-align: justify;
}

.buttons::after {
  content: "";
  display: flex;
}


/* == HTML == */
html {
  font-family: "Space Mono", monospace;
  background-color: #fdfdfd;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
/* 
div {
  margin-bottom: 1rem;
} */

/* body */
head,
body {
  text-align: justify;
  color: #444444;
  background-color: #fdfdfd;
}

body {
  margin: 0;
  box-sizing: border-box;
  /* display: grid; */
  grid-template-columns: min-content 1fr;
}

@media screen and (max-width: 980px) {
  body {
    display: block;
    grid-template-columns: none;
  }
}

/* Anchors */
a {
  border-bottom: 3px solid #beebaa44;
  color: #75a012;
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
}

a:hover:not(.a-button) {
  background-color: #beebaa44;
}

::selection {
  background-color: #ffde75;
  color: #444444;
}

/* paragraph */
/* == HEADERS == */
h1,
h2,
h3,
h4 {
  color: #444444;
  line-height: 1.2;
  text-align: center;
}

h1 {
  font-size: 2.6rem;
}

h4 {
  padding: 20px;
}

:focus {
  outline: none;
}

/**/
.wrapper,
.container {
  max-width: 1200px;
  width: 100%;
  text-align: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  transition: all 0.3s ease;
}

.container::before,
.container::after,
.wrapper::before,
.wrapper::after {
  display: table;
  content: "";
  clear: both;
  width: 100%;
}

.container {
  border: 1px solid #cecece;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.06);
}

/* == BREAKPOINTS == */
@media screen and (min-width: 650px) {

  .wrapper,
  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  h1,
  h2,
  h3,
  h4 {
    align-content: center;
    vertical-align: middle;
    width: 100%;
    text-align: center;
  }
}



/* GAME */
.game {
  /* box-sizing: border-box -> includes padding + borders in width & height*/
  display: flex;
  /* flex display & auto margin -> centered content */
  margin: auto;
  flex-wrap: wrap; /* instead of shrinking, they will wrap according to size*/
  justify-content: space-around;
  min-width: 507px;
  max-width: 577px;
}

.inner-square,
.outer-square {
  /* width: calc(30% - 2rem);
  height: calc(30% - 2rem); */
  position: relative;
}

.outer-square {
  border: 2px solid rgb(128, 128, 18);
  width: 32.9%;
  flex: 0 0 33%;
  margin: 1px;
  float: left;
}

.inner-square {
  flex: 0 0 32%;
  border: 1px solid rgb(43, 43, 43);
  flex-wrap: wrap;
  float: left;
  width: 33.33%;
  height: 40px;
  margin: auto;
  padding: 2px;
  text-align: center;
}

.inner-square:nth-child(3n) {
  /* background-color: #900098; */
}

.game > input[type=number], input {
  color: transparent;
  text-shadow: 0 0 0 black;
  margin: 0rem;
  padding: 0px;
  border: none;
  box-shadow: none;
  flex: 1;
  width: 100%;
  height: 100%;
  overflow: none;
  font: 600 20px system-ui;
  text-align: center;
}

.game > input[type=number]:focus, input:focus {
  /* outline: none; */
  background: rgb(213, 213, 213);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -moz-appearance: textfield;
  -webkit-appearance: none;
}